<%= error_messages_for 'asset' %>
<div class="form_box">
	<p>
      <%= f.label :name, Asset.human_attribute_name("name") %>
      <%= f.text_field :name %>
	</p>
	<p>
	  <%= f.label :description, Asset.human_attribute_name("description") %> 
	  <%= f.text_area :description, :cols => 70, :rows => 4, :class => 'not_full' %>
	</p>
	<fieldset>
	  <legend><%= Asset.human_attribute_name("resource") %></legend>
      <% if f.object.resource.original_filename -%>
        <%= image_tag(thumbnail_url(f.object)) %>
      <% end %>
	  <p>
		<%= f.file_field :resource %> 
        <% if f.object.resource.original_filename -%>
		  <%= link_to t('ubiquo.media.current_file'), f.object.resource.url %>
        <% end %>
	  </p>
	</fieldset>
    <p>
      <% if f.object.new_record? -%>
        <%= label_tag :is_protected, t("ubiquo.media.is_protected") %>
        <%= check_box_tag :is_protected %>
      <% end %>
    </p>
</div>

<% content_for :sidebar do%>
	<%= help_block_sidebar(t("ubiquo.helpmsg.media.assets.form")) %>
<% end %>
